body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(39, 32, 68);
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px;
}
section.secondary {
  background-color: #f8f8f8;
}
.purple{
  background-color:#272044 ;

  padding:80px ;
}
.purple h3{
  color:white;
}
.purple h2{
  color:#f8f8f8;
}
.purple h4{
    color:#f8f8f8;

}
.purple p{
  color:#f8f8f8;
}
.purple .padding{
  padding:60px 80px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("../images/bay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 30px 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  padding: 16px 32px;
  margin-top: 32px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  transition: all 200ms ease-in-out;
}
header a:hover{
  color:white;
  background-color: #462cb3;
}
main {
  background-color: white;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  letter-spacing: 5px;
  
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0 0 30px 0;
}

main h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color:#272044;
  margin: 0;
}
main h5{
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color:#272044;
  margin:0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.grid-2-columns {
  grid-template-columns: auto auto;
}
.grid-3-columns{
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 1fr;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.card{
  background-color: white;
  margin:30px 0;
}
.card-header.grid{
  grid-gap:0;
}
.embed{
  width:100%;
  aspect-ratio: 1/1;

}
.instagram-embeds{
  margin:30px 0;
}
.card-body{
  padding:30px;
}
.card-footer{
  padding:0 30px 30px;
}
.btn{
  display:block;
  color:white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding:16px;
  border:1px solid #462cb3;

  background-color: #462cb3;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.btn:hover{
  background-color: white;
  color:#462cb3;
  }
.img-responsive {
  width: 100%;
  display:block;
}
.p1 {
  margin: 0;
}
.text-center {
  text-align: center;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.6),
      rgba(39, 32, 68, 0.8)
    ),
    url("../images/skyscrapers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
footer button {
  color: white;
  border: none;
  background: none;
  padding: 0;
  transition: all 200ms ease-in-out;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  opacity: 0.6;
}
footer button:hover {
  text-decoration: underline;
  color: #da4167;
}
footer h3 {
  font-size: 22px;
  line-height: 30%;
}
footer li {
  list-style-type: none;
  padding: 0;
}

footer p {
  font-size: 16px;
  opacity: 0.6;
}
footer ul {
  padding: 0;
}

footer .social-links a {
  margin-right: 20px;
  color: white;

  background-color: #da4167;
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: #da4167;
  background-color: white;
}
footer .fa-solid {
  margin-bottom: 30px;
}
footer a {
  color: white;

  text-decoration: none;
}
footer a:hover {
  color: #da4167;
  text-decoration: underline;
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
   
  }
  .glance{
padding:0;
margin:0;
  }
  .purple .padding{
    text-align: center;
    padding:0;
    margin:0;
  }
  .purple h4{
    font-size: 20px;
  }
  section {
    padding: 30px;
  }
  header a {
    padding: 8px 10px;
    font-size: 11px;
  }
  main h3{
    font-size: 25px;
  }
  .embed{
    aspect-ratio: 16/9;
  }
  .instagram-embeds{
    margin:20px 0;
  }
  .grid-3-columns{
    grid-gap:0;
  }
}
